body {
  max-width: 1200px;
  font-family: "Nunito Sans", sans-serif;
  margin: 20px;
  padding: 0;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.card {
  width: 275px;
  height: 155px;
  margin: 25px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px darkgray;
  transition: 0.3s;
  display: grid;
  grid-template-areas:
    "icon text"
    "link arrow";
}

.card:hover {
  background-color: whitesmoke;
}

.card_icon {
  width: 65px;
  height: 65px;
  border-radius: 35px;
  grid-area: icon;
  align-self: top;
  position: relative;
  top: 20px;
}

.text {
  grid-area: text;
  font-size: medium;
  font-weight: 700;
}

.content {
  opacity: 0.6;
}

a {
  grid-area: link;
  text-decoration: none;
  font-size: medium;
  color: black;
  opacity: 0.6;
  font-weight: 700;
  align-self: end;
}

.card span {
  margin-left: auto;
  align-self: end;
}

.arrow {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  grid-area: arrow;
}

@media (max-width: 375px) {
  .cards {
    flex-direction: column;
  }
}
